.modal-movie {
  padding: 5px 25px 10px 25px;
}

.modal-title {
  margin: 0px 5px;
}
.modal-button {
  margin: 0px 5px;
}

.modal-rating {
  margin: 0;
  top: 50%;
  -ms-transform: translateY(-15%);
  transform: translateY(-15%);
}
