.movie {
  padding: 15px 25px 10px 25px;
  max-width: 25%;
  img {
    transition: transform 0.3s;
    margin: 0 auto;
    min-height: 300px;
    max-height: 300px;
  }

  img:hover {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer
  }
}

.movie-title {
  max-width: 200px;

  h2 {
    color: red;
  }
}

@media screen and (min-width: 694px) and (max-width: 915px) {
  .movie {
    max-width: 33%;
  }
}

@media screen and (min-width: 652px) and (max-width: 693px) {
  .movie {
    max-width: 50%;
  }
}

@media screen and (max-width: 651px) {
  .movie {
    max-width: 100%;
    margin: auto;
  }
}
